<div class="bg-blockquote_bg p-8 blockQuote relative">
    <img class="absolute right-0 top-0 w-1/3 h-full object-cover" src="{{ siteUrl }}/dist/img/blockquote-watermark.svg" alt="" role="presentation">
    <p class="font-bold text-white text-md w-3/4">
        {{ textArea }}
    </p>
</div>