<div id="{{ heading | kebab }}">
    <h3>{{ heading }}</h3>
    {{ richText }}
    <a href="#" class="flex flex-row items-center space-x-2">
        <p>Back to top</p>
        <img style="width: 10px;" src="{{ siteUrl }}dist/img/long-arrow-up-light.svg" alt="Back to top" role="presentation"></a>
</div>