<div class="grid-cols-8 bg-white hover:bg-hoverBg transition-all duration-500 ease-in-out
    bg-htq_blue
    bg-htq_teal
    bg-htq_mid_teal
    bg-htq_orange
    bg-htq_mid_orange
    bg-htq_soft_yellow
    bg-black
    bg-hoverBg
    bg-copy
    bg-white
    bg-lightBg
    bg-htq_blue
    bg-htq_teal
    bg-htq_mid_teal
    bg-htq_orange
    bg-htq_mid_orange
    bg-htq_soft_yellow
    bg-htq_green
    bg-htq_mid_green
    bg-htq_sky
    bg-htq_lime
    bg-loop_1 bg-loop_2 bg-loop_3 bg-loop_4 bg-loop_5 bg-loop_6
    bg-loop_7 bg-loop_8 bg-loop_9 bg-loop_10 bg-loop_11 bg-loop_12
"></div>